@import url(__description/card__description.css);
@import url(__image/card__image.css);
@import url(__like/card__like.css);

.card {
  background: #FFFFFF;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;
  align-items: center;
}